.container {
    display: flex;
}

.buttonStart {
    height: 450px;
    width: 750px;
    border-radius: 25px;
    background-color:rgb(255, 0, 34);
}

.buttonReset {
    margin-left: 25px;
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

.bestResult {
    margin-left: 150px;
}

.ban {
    font-size: 1000%;
}

.test {
    width: 400px;
    height: 400px;
    background-color: red;
}